<!DOCTYPE html>
<html lang="en">

<head>

    <script> location.href = "#output" </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kick Stronger</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#slides">Slides</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Kick Stronger</h1>
                        <p class="intro-text">Get the probability of your campaign's success<br>and actionable insights</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
        
                <h2>What are your campaign plans?</h2>
                <p>Find our your odds of success on Kickstarter and how to improve your odds.</p>


                <form  action="/output" method="GET" class="form-horizontal">
                <fieldset>

                    <!-- Text input-->
                    <div class="control-group">
                    <label class="control-label" for="Goal">Goal</label>
                    <div class="controls">
                    <input id="Goal" name="Goal" type="text" placeholder="$4000" class="input-xlarge" required="">

                    </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="control-group">
                    <label class="control-label" for="Category">Category</label>
                    <div class="controls">
                    <select id="Category" name="Category" class="input-xlarge">
                    <option>art</option>
                    <option>comics</option>
                    <option>crafts</option>
                    <option>dance</option>
                    <option>design</option>
                    <option>fashion</option>
                    <option>film</option>
                    <option>food</option>
                    <option>games</option>
                    <option>journalism</option>
                    <option>music</option>
                    <option>photography</option>
                    <option>publishing</option>
                    <option>technology</option>
                    <option>theater</option>
                    </select>
                    </div>
                    </div>                    

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="N_body_words">Number of words in your description</label>
                      <div class="controls">
                        <input id="N_body_words" name="N_body_words" type="text" placeholder="500" class="input-xlarge" required="">
                        
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="N_Rewards">Number of rewards</label>
                      <div class="controls">
                        <input id="N_Rewards" name="N_Rewards" type="text" placeholder="5" class="input-xlarge" required="">
                        
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="Min_reward">Minimum reward</label>
                      <div class="controls">
                        <input id="Min_reward" name="Min_reward" type="text" placeholder="$5" class="input-xlarge" required="">
                        
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="Max_reward">Maximum reward</label>
                      <div class="controls">
                        <input id="Max_reward" name="Max_reward" type="text" placeholder="$500" class="input-xlarge" required="">
                        
                      </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                      <label class="control-label" for="N_backed">Number of other campaigns you backed</label>
                      <div class="controls">
                        <input id="N_backed" name="N_backed" type="text" placeholder="2" class="input-xlarge" required="">
                        
                      </div>
                    </div>


                    <br>
                    </fieldset>

                    <div>
                      <button type="submit" class="btn btn-default btn-lg">Get insights!</button>
                    </div>
            </div>
        </div>
    </section>


    <!-- Output Section -->
    <section id="output" class="content-section text-center">
        <div class="output-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Predictions and advice</h2>

                    <p>Your campaign has a {{the_result}}% chance of success.</p>
                    <p>Here are ways to increase your odds:
                    <br><br>
                    {{advice1}}
                    <br><br>  
                    {{advice2}}
                    <br><br>
                    {{advice3}}
                    <br><br>
                    {{advice4}}
                    <br>
                    </p>
 

                </div>
            </div>
        </div>
    </section>



    <!-- Slides Section -->
    <section id="slides" class="content-section text-center">
        <div class="slides-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Slides</h2>
                    <p>Learn more about the project and predictive model.</p>
                    <iframe src="http://www.slideshare.net/jkfitzg/slideshelf" width="615px" height="470px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Feel feel to give feedback or just say hello!</p>
                <p><a href="mailto:jkfitzg at post.harvard.edu">jkfitzg at post.harvard.edu</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                   
                    <li>
                        <a href="https://github.com/jkfitzg" class="btn btn-default btn-lg"><span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jkfitzgerald" class="btn btn-default btn-lg"><span class="network-name">LinkedIn</span></a>
                    </li>

                </ul>
            </div>
        </div>
    </section>


    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>

</body>

</html>
